<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<footer th:fragment="footer" class="bg-dark mt-auto">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/AdrianoDevequi" target="_blank">GitHub</a>
            </div>
            <div class="col text-center" >
                <span>Adriano Devequi - 2022</span>
            </div>
            <div class="col text-center">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/adriano-devequi-aa500b11a/" target="_blank">Linkedin</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>