<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: head">
</head>
<body>
    <nav th:fragment="nav" id="navbar-home" class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" style="display: none;">
        <a class="navbar-brand" th:href="@{/index}" href="index">Kvark900</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>


            <ul class="navbar-nav ml-auto" id="users-nav-item" sec:authorize="isAuthenticated()">

                <!--region For ROLE_USER display shoppingg cart icon-->
                <!--======================================================================================
                <li class="nav-item d-flex">
                    <span class="shopping-cart align-self-center mx-2 " sec:authorize="hasRole('ROLE_USER')">
                        <a style="background-color: transparent!important;"
                           data-toggle="collapse"
                           href="#shopping-cart-collapse" aria-expanded="false"
                           aria-controls="shopping-cart-collapse">
                            <i class="fa fa-shopping-cart " id="shopping-cart-icon" aria-hidden="true"
                               style="background-color: transparent!important"></i>
                        </a>
                        <div class="collapse" id="shopping-cart-collapse" style="position: absolute;">
                            <div class="card card-body">
                                <p>Total courses:</p>
                                <a type="button" class="btn btn-primary" style="font-size: 90%" th:href="@{#}">
                                    Go to shopping cart</a>
                            </div>
                        </div>
                    </span>
                </li>
                ======================================================================================-->
                <!--endregion-->


                <!--region Displaying hello + username-->
                <!--==============================================================================-
                <li class="nav-item">
                    <span class="navbar-text">Hello <span sec:authentication="name"></span></span>
                </li>
                =============================================================================-->
                <!--endregion-->


                <!--region For ROLE_ADMIN display admin page-->
                <!--================================================================================================
                <li class="nav-item d-flex">
                    <i class="align-self-center fas fa-user-cog text-white"></i>
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/adminPage}" href="/adminPage">Admin Page</a>
                </li>
                ================================================================================================-->
                <!--endregion-->


                <!--region Logout button-->
                <!--==================================================================================
                <li class="nav-item">
                    <a class="nav-link" href="javascript: document.logoutForm.submit()" role="menuitem">
                        Logout
                    </a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                </li>
                ==================================================================================-->
                <!--endregion-->
            </ul>

            <!--region Login and Register menu items-->
            <!--==========================================================================================-->
            <ul class="navbar-nav ml-auto" sec:authorize="!isAuthenticated()">
                <li class="nav-item d-flex flex-row">
                    <i class="align-self-center fa fa-user-o " aria-hidden="true" style="color: white;"></i>
                    <a class="nav-link mr-3" th:href="@{/login}" href="/login">Log In</a>
                </li>
                <li class="nav-item d-flex flex-row">
                    <i class="align-self-center fa fa-sign-in " aria-hidden="true" style="color: white;"></i>
                    <a class="nav-link" th:href="@{/register}" href="/register">Register</a>
                </li>
            </ul>
            <!--==========================================================================================-->
            <!--endregion-->
        </div>
    </nav>


    <nav class="navbar navbar-expand-lg bg-azul">
        <div class="container">
          <a class="navbar-brand text-white fw-bold" href="/index">produtoAdmin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link text-white" th:href="@{/index}" href="/index">Home <span class="sr-only">(current)</span></a>

                <a class="nav-link text-white" th:href="@{/login}" href="/login" sec:authorize="!isAuthenticated()">
                <i class="align-self-center fa fa-user-o text-white" aria-hidden="true"></i> Login</a>

                
                    
                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Empresa
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/empresas/lista-empresas}" href="/empresas/lista-empresas"> Lista empresas</a></li>
                        <li><a class="dropdown-item" th:href="@{/empresas/cadastrar-empresa}">Cadastrar empresa</a></li>
                    </ul>
                </li>   

                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Fornecedor
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/fornecedores/lista-fornecedores}" href="/fornecedor/lista-fornecedores"> Listar fornecedores</a></li>
                        <li><a class="dropdown-item" th:href="@{/fornecedores/cadastrar-fornecedor}">Cadastrar fornecedor</a></li>
                    </ul>
                </li>  

                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Produto
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"  th:href="@{/produtos/lista-produtos}"> Listar produtos</a></li>
                        <li><a class="dropdown-item"  th:href="@{/produtos/cadastrar-produto}">Cadastrar produto</a></li>
                        <li><a class="dropdown-item"  th:href="@{/categorias/lista-categorias}">Listar categoria</a></li>
                        <li><a class="dropdown-item"  th:href="@{/categorias/cadastrar-categoria}">Cadastrar categoria</a></li>
                    </ul>
                </li>  
                <a class="nav-link text-white" th:href="@{/register}" href="/register" sec:authorize="!isAuthenticated()">Cadastre-se</a>

                

                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuários
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/adminPage}" >Listar usuários</a></li>
                        <li><a class="dropdown-item" th:href="@{/adminPage/roles}" >Listar permissões</a></li>
                        <li><a class="dropdown-item" th:href="@{/adminPage/users/newUser}" >Cadastrar usuário</a></li>
                    </ul>
                </li> 
            </div>
          </div>
          <div class="navbar-text text-white text-end px-3" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" >Olá:  <span sec:authentication="name" class="pe-2"></span>
            |</div><a class="nav-link text-white text-end" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" href="javascript: document.logoutForm.submit()" role="menuitem"> Sair</a>

          
          
          <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
              <input hidden type="submit" value="Sign Out"/>
          </form>
        </div>
      </nav>

    <div th:replace="fragments/jsScripts :: scripts"></div>
</body>
</html>