<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: head">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-azul" th:fragment="nav">
        <div class="container">
          <a class="navbar-brand text-white fw-bold" href="/index">produtoAdmin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-link text-white" th:href="@{/index}" href="/index">Home <span class="sr-only">(current)</span></a>

                <a class="nav-link text-white" th:href="@{/login}" href="/login" sec:authorize="!isAuthenticated()">
                 Login</a>
  
                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Empresa
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/empresas/lista-empresas}" href="/empresas/lista-empresas"> Lista empresas</a></li>
                        <li><a class="dropdown-item" th:href="@{/empresas/cadastrar-empresa}">Cadastrar empresa</a></li>
                    </ul>
                </li>   

                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Fornecedor
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/fornecedores/lista-fornecedores}" href="/fornecedor/lista-fornecedores"> Listar fornecedores</a></li>
                        <li><a class="dropdown-item" th:href="@{/fornecedores/cadastrar-fornecedor}">Cadastrar fornecedor</a></li>
                    </ul>
                </li>  

                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Produto
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"  th:href="@{/produtos/lista-produtos}"> Listar produtos</a></li>
                        <li><a class="dropdown-item"  th:href="@{/produtos/cadastrar-produto}">Cadastrar produto</a></li>
                        <li><a class="dropdown-item"  th:href="@{/categorias/lista-categorias}">Listar categoria</a></li>
                        <li><a class="dropdown-item"  th:href="@{/categorias/cadastrar-categoria}">Cadastrar categoria</a></li>
                    </ul>
                </li>  
                <a class="nav-link text-white" th:href="@{/register}" href="/register" sec:authorize="!isAuthenticated()">Cadastre-se</a>

                

                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuários
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/adminPage}" >Listar usuários</a></li>
                        <li><a class="dropdown-item" th:href="@{/adminPage/roles}" >Listar permissões</a></li>
                        <li><a class="dropdown-item" th:href="@{/adminPage/users/newUser}" >Cadastrar usuário</a></li>
                    </ul>
                </li> 
            </div>
          </div>
          <div class="navbar-text text-white text-end px-3" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" >Olá:  <span sec:authentication="name" class="pe-2"></span>
            |</div><a class="nav-link text-white text-end" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" href="javascript: document.logoutForm.submit()" role="menuitem"> Sair</a>

          <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
              <input hidden type="submit" value="Sign Out"/>
          </form>
        </div>
      </nav>

    <div th:replace="fragments/jsScripts :: scripts"></div>
</body>
</html>